.form-todos {
  max-width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  display: flex;
  gap: 1.6rem;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.form-todos__input {
  background-color: var(--base-100);
  width: 100%;
  display: block;
  padding: 1.4rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: var(--base-content);
  border: 2px solid var(--base-150);
  outline: 2px solid var(--primary-drop-shadow);
  box-shadow: 1px 1px 10px 4px var(--base-drop-shadow);
}

.form-todos__input:focus {
  outline: 2px solid var(--primary-focus);
  box-shadow: 0px 0px 10px 0px var(--primary-drop-shadow);
}
